// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#apartment_map {
  width: 800px;
  height: 600px;
  border: 2px solid black;
}

#all_apartments_map {
  width: 800px;
  height: 600px;
  border: 2px solid black;
}
